<div class="welcome_block">  
  <div class="container">
  <nav>
    <div class="logo">
      <h1>MoGo</h1>
    </div>
    <ul class="big_menu">
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Service</a>
      </li>
      <li>
        <a href="#">Work</a>
      </li>
      <li>
        <a href="#">Blog</a>
      </li>
      <li>
        <a href="#">contact</a>
      </li>
      <li>
        <img src="../assets/img/SHOPPING_CART.png" alt="No images">
      </li>
      <li>
        <img src="../assets/img/MAGNIFYING_GLASS.png" alt="No images">
      </li>
    </ul>
    <button mat-button [matMenuTriggerFor]="menu">
      <img class="menu_icon" src="../assets/img/Background (5).png" alt="No images"></button>
    <mat-menu #menu="matMenu">
      <ul>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Service</a>
        </li>
        <li>
          <a href="#">Work</a>
        </li>
        <li>
          <a href="#">Blog</a>
        </li>
        <li>
          <a href="#">contact</a>
        </li>
        <li>
          <img src="../assets/img/SHOPPING_CART.png" alt="No images">
        </li>
        <li>
          <img src="../assets/img/MAGNIFYING_GLASS.png" alt="No images">
        </li>
      </ul>
    </mat-menu>
  </nav>
    <div class="welcome_text">
      <h2>Creative Template</h2>
      <h2>Welcome to MoGo</h2>
    </div> 
    <div class="learn_more_btn">
      <hr>
      <button type="button">Learn more</button>
    </div>
    <div class="slider">
      <div class="slider_1 slide">
        <div class="line">
          <div class="range"></div>
        </div>
        <div class="text">
          <span><b>01</b> Intro</span>
        </div>
      </div>
      <div class="slider_2 slide">
        <div class="line">
          <div class="range"></div>
        </div>
        <div class="text">
          <span>
          <b>02</b> Work
        </span>
        </div>
      </div>
      <div class="slider_3 slide">
        <div class="line">
          <div class="range"></div>
        </div>
        <div class="text">
          <span>
          <b>03</b> About
        </span>
        </div>
      </div>
      <div class="slider_4 slide">
        <div class="line">
          <div class="range"></div>
        </div>
        <div class="text">
          <span>
          <b>04</b> Contacts
        </span>
        </div>
      </div>
    </div>
  </div>
</div>


  <div class="block_2">
    <div class="container">
      <div class="block_title">
        <div>
          <h2>What we do</h2>
          <h2>Story about us</h2>
        </div>
        <hr>
      </div>
      <p class="block_paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
         quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
      </p>
      <div class="gallery">
        <div class="block">
          <img src="../assets/img/Layer_44.png" alt="No images" class="img">
          <div class="hover_block">
            <div class="icon">
              <img src="../assets/img/USERS.png" alt="No images">
            </div>
            <div class="text">
              <span>super team</span>
            </div>
          </div>
        </div>
        <div class="block">
          <img src="../assets/img/Layer_39.png" alt="No images" class="img">
          <div class="hover_block">
            <div class="icon">
              <img src="../assets/img/USERS.png" alt="No images">
            </div>
            <div class="text">
              <span>super team</span>
            </div>
          </div>
        </div>
        <div class="block">
          <img src="../assets/img/Layer_41.png" alt="No images" class="img">
          <div class="hover_block">
            <div class="icon">
              <img src="../assets/img/USERS.png" alt="No images">
            </div>
            <div class="text">
              <span>super team</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="block_3">
    <div class="container">
      <div class="row">
        <div class="col">
          <h4>42</h4>
          <p>Web Design Projects</p>
        </div>
        <div class="col">
          <h4>123</h4>
          <p>happy client</p>
        </div>
        <div class="col">
          <h4>15</h4>
          <p>award winner</p>
        </div>
        <div class="col">
          <h4>99</h4>
          <p>cup of coffee</p>
        </div>
        <div class="col">
          <h4>24</h4>
          <p>members</p>
        </div>
      </div>
    </div>
  </div>

  <div class="block_4">
    <div class="container">
      <div class="block_title">
        <div>
          <h2>We work with</h2>
          <h2>Amazing Services</h2>
        </div>
        <hr>
      </div>
      <div class="services_list">
        <div class="lists">
          <div class="col">
            <div class="icon">
              <img src="../assets/img/ALARM.png" alt="No images">
            </div>
            <div class="text">
              <h4>Photography</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>
          </div>
          <div class="col">
            <div class="icon">
              <img src="../assets/img/LINE_GRAPH.png" alt="No images">
            </div>
            <div class="text">
              <h4>Web Design</h4>
              <p>Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>
          </div>

          <div class="col">
            <div class="icon">
              <img src="../assets/img/_OK.png" alt="No images">
            </div>
            <div class="text">
              <h4>Creativity</h4>
              <p>Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>
          </div>

        </div>

        <hr>

        <div class="lists">
          <div class="col">
            <div class="icon">
              <img src="../assets/img/BOOK_2.png" alt="No images">
            </div>
            <div class="text">
              <h4>seo</h4>
              <p>Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
            </div>
          </div>
          <div class="col">
            <div class="icon">
              <img src="../assets/img/HOME.png" alt="No images">
            </div>
            <div class="text">
              <h4>Css/Html</h4>
              <p>Lorem dolor sit amet, consectetur adipiscing elit, sed do tempor.</p>
            </div>
          </div>

          <div class="col">
            <div class="icon">
              <img src="../assets/img/IMAGE.png" alt="No images">
            </div>
            <div class="text">
              <h4>digital</h4>
              <p>Sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="block_5">
    <div class="container">
      <div class="block_title">
        <div>
          <h2>For all devices</h2>
          <h2>Unique design</h2>
        </div>
        <hr>
      </div>
      <div class="devices">
        <div class="imgs">
          <img src="../assets/img/display_bg_768x1024.png" alt="No images">
          <img src="../assets/img/White.png" alt="No images">
        </div>
      </div>
    </div>
  </div>

<div class="block_6">
  <div class="container">
    <div class="block_title">
      <div>
        <h2>For all devices</h2>
        <h2>Unique design</h2>
      </div>
      <hr>
    </div>
    <p class="paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
       sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
       quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    </p>
    <div class="accordio_block">
      <div class="img">
        <img src="../assets/img/Layer_43.png" alt="No images">
      </div>
      <accordion [isAnimated]="true">
        <accordion-group heading="Photography">
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
           Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
           ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
           in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
           occaecat cupidatat non proident, 
          sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </accordion-group>
        <accordion-group heading="creativity">
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
             Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
             ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
             in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
             occaecat cupidatat non proident, 
            sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </accordion-group>
        <accordion-group heading="web design">
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
             Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
             ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
             in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
             occaecat cupidatat non proident, 
            sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </accordion-group>
      </accordion>
    </div>  
  </div>
</div>

<c-carousel [interval]="0">
  <c-carousel-inner>
    <c-carousel-item>
      <div class="slide">
     <div class="img">
        <img src="../assets/img/SPEECH_4.png" alt="No images">
     </div>
     <div class="text">
     <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
      ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation."</p>
      <span class="line"></span><span>Jon Doe</span>
    </div>
  </div>
    </c-carousel-item>
    <c-carousel-item>
      <div class="slide">
     <div class="img">
        <img src="../assets/img/SPEECH_4.png" alt="No images">
     </div>
     <div class="text">
     <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
      ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation."</p>
      <span class="line"></span><span>Jon Doe</span>
    </div>
  </div>
    </c-carousel-item>
    <c-carousel-item>
      <div class="slide">
     <div class="img">
        <img src="../assets/img/SPEECH_4.png" alt="No images">
     </div>
     <div class="text">
     <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
      ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation."</p>
      <span class="line"></span><span>Jon Doe</span>
    </div>
  </div>
    </c-carousel-item>
  </c-carousel-inner>
  <c-carousel-control  caption="Previous" direction="prev" class="prev">
     <img src="../assets/img/_DOWN_copy_2.png" alt="No images"> 
    </c-carousel-control>
  <c-carousel-control  caption="Next" direction="next" class="next"> 
    <img src="../assets/img/_DOWN_copy_2.png" alt="No images"> 
  </c-carousel-control>
</c-carousel>

<div class="block_7">
  <div class="block_title">
    <div>
      <h2>Who we are</h2>
      <h2>Meet our team</h2>
    </div>
    <hr>
  </div>
  <div class="container">
    <p class="paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
       quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    </p>
    <div class="row">
      <div class="col">
        <div class="img">
          <img src="../assets/img/Layer_16.png" alt="No images">
          <div class="hover_block">
            <div class="icon">
              <div class="links">
              <a href="#" class="fb">
                <span ></span>
              </a>
              <a href="#" class="twitter">
                <span></span>
              </a>
              <a href="#" class="pinterest">
                <span></span>
              </a>
              <a href="#" class="instagram">
                <span></span>
              </a>
            </div>
            </div>
          </div>
        </div>
        <div class="text">
          <h5>Matthew Dix</h5>
          <p>Graphic Design</p>
        </div>
      </div>
      <div class="col">
        <div class="img">
          <img src="../assets/img/Layer_19.png" alt="No images">
          <div class="hover_block">
            <div class="icon">
              <div class="links">
              <a href="#" class="fb">
                <span ></span>
              </a>
              <a href="#" class="twitter">
                <span></span>
              </a>
              <a href="#" class="pinterest">
                <span></span>
              </a>
              <a href="#" class="instagram">
                <span></span>
              </a>
            </div>
            </div>
          </div>
        </div>
        <div class="text">
          <h5>Christopher Campbell</h5>
          <p>Branding/UX design</p>
        </div>
      </div>
      <div class="col">
        <div class="img">
          <img src="../assets/img/Layer_18.png" alt="No images">
          <div class="hover_block">
            <div class="icon">
              <div class="links">
              <a href="#" class="fb">
                <span ></span>
              </a>
              <a href="#" class="twitter">
                <span></span>
              </a>
              <a href="#" class="pinterest">
                <span></span>
              </a>
              <a href="#" class="instagram">
                <span></span>
              </a>
            </div>
            </div>
          </div>
      </div>
      <div class="text">
        <h5>Michael Fertig</h5>
        <p>Developer</p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="block_8">
  <div class="container">
    <div class="img">
      <img src="../assets/img/Layer_25.png" alt="No images">
    </div>
  </div>
</div>

<div class="block_9">
    <div class="block_title">
      <div>
        <h2>What we do</h2>
        <h2>some of our work</h2>
      </div>
      <hr>
    </div>
    <p class="paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam,
       quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    </p>
    <div class="img_row">
      <div class="row_col">
        <div class="icon_hover">
        <img src="../assets/img/Layer_26.png" alt="No images">
        <span>
          <div>
          <img src="../assets/img/PICTUR.png" alt="No images">
          <h5>creatively designed</h5>
          <h6>Lorem ipsum dolor sit</h6>
        </div>
        </span>
      </div>

      <div class="icon_hover">
        <img src="../assets/img/Layer_33.png" alt="No images">
        <span>
          <div>
          <img src="../assets/img/PICTUR.png" alt="No images">
          <h5>creatively designed</h5>
          <h6>Lorem ipsum dolor sit</h6>
        </div>
        </span>
      </div>

      <div class="icon_hover">
        <img src="../assets/img/Layer_35.png" alt="No images">
        <span>
          <div>
          <img src="../assets/img/PICTUR.png" alt="No images">
          <h5>creatively designed</h5>
          <h6>Lorem ipsum dolor sit</h6>
        </div>
        </span>
      </div>

      <div class="icon_hover">
        <img src="../assets/img/Layer_29.png" alt="No images">
        <span>
          <div>
          <img src="../assets/img/PICTUR.png" alt="No images">
          <h5>creatively designed</h5>
          <h6>Lorem ipsum dolor sit</h6>
        </div>
        </span>
      </div>

      </div>
      <div class="row_col">
        <div class="icon_hover">
        <img src="../assets/img/Layer_34.png" alt="No images">
        <span>
          <div>
          <img src="../assets/img/PICTUR.png" alt="No images">
          <h5>creatively designed</h5>
          <h6>Lorem ipsum dolor sit</h6>
        </div>
        </span>
      </div>
          <div class="col">
            <div class="icon_hover">
            <img src="../assets/img/Layer_31.png" alt="No images">
            <span>
              <div>
              <img src="../assets/img/PICTUR.png" alt="No images">
              <h5>creatively designed</h5>
          <h6>Lorem ipsum dolor sit</h6>
            </div>
            </span>
          </div>
          <div class="icon_hover">
            <img src="../assets/img/Layer_32.png" alt="No images">
            <span>
              <div>
              <img src="../assets/img/PICTUR.png" alt="No images">
              <h5>creatively designed</h5>
               <h6>Lorem ipsum dolor sit</h6>
            </div>
            </span>
          </div>
          </div> 
      </div>
    </div>
</div>

<div class="block_10">
<c-carousel [interval]="0">
  <c-carousel-inner>
    <c-carousel-item>
      <div class="slide">
     <div class="img">
        <img src="../assets/img/Layer_36.png" alt="No images">
     </div>
     <div class="text">
     <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
      ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation."</p>
      <span class="line"></span><span>Joshua Earle</span>
    </div>
  </div>
    </c-carousel-item>

    <c-carousel-item>
      <div class="slide">
     <div class="img">
        <img src="../assets/img/Layer_36.png" alt="No images">
     </div>
     <div class="text">
     <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
      ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation."</p>
      <span class="line"></span><span>Jon Doe</span>
    </div>
  </div>
    </c-carousel-item>

    <c-carousel-item>
      <div class="slide">
     <div class="img">
        <img src="../assets/img/Layer_36.png" alt="No images">
     </div>
     <div class="text">
     <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
      ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation."</p>
      <span class="line"></span><span>Joshua Earle</span>
    </div>
  </div>
    </c-carousel-item>

  </c-carousel-inner>
  <c-carousel-control  caption="Previous" direction="prev" class="prev">
     <img src="../assets/img/_DOWN_copy_2.png" alt="No images"> 
    </c-carousel-control>
  <c-carousel-control  caption="Next" direction="next" class="next"> 
    <img src="../assets/img/_DOWN_copy_2.png" alt="No images"> 
  </c-carousel-control>
</c-carousel>
</div>

<div class="block_11">
  <div class="container">
    <div class="block_title">
      <div>
        <h2>Happy Clients</h2>
        <h2>What people say</h2>
      </div>
      <hr>
    </div>
    <ul>
      <li>
        <div class="img">
          <img src="../assets/img/Layer_47.png" alt="No images">
        </div>
        <div class="text">
        <h5>Matthew Dix</h5>
        <h6>Graphic Design</h6>
        <span class="line"></span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
        </div>
      </li>
        <li>
          <div class="img">
            <img src="../assets/img/Layer_49.png" alt="No images">
          </div>
          <div class="text">
          <h5>Nick Karvounis</h5>
          <h6>Graphic Design</h6>
          <span class="line"></span>
          <p>Sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
          </div>
        </li>
        <li>
          <div class="img">
            <img src="../assets/img/Layer_50.png" alt="No images">
          </div>
          <div class="text">
          <h5>Jaelynn Castillo</h5>
          <h6>Graphic Design</h6>
          <span class="line"></span>
          <p>Ipsum dolor sit amet, consectetur adipiscing elit, sed do
               eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
          </div>
        </li>
          <li>
            <div class="img">
              <img src="../assets/img/Layer_51.png" alt="No images">
            </div>
            <div class="text">
            <h5>Mike Petrucci</h5>
            <h6>Graphic Design</h6>
            <span class="line"></span>
            <p>Dolor sit amet, consectetur adipiscing elit, sed do 
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
            </div>
          </li>
    </ul>
  </div>
</div>

<div class="block_12">
  <div class="container">
    <div class="block_title">
      <div>
        <h2>Happy Clients</h2>
        <h2>What people say</h2>
      </div>
      <hr>
    </div>
    <div class="row">

      <div class="col">
        <div class="img">
          <img src="../assets/img/Layer_54.png" alt="No images">
          <span> <b>15</b> Jan</span>
        </div>
        <div class="text">
          <h4>Lorem ipsum dolor sit amet</h4>
          <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <hr>
          <div class="view_info">
          <span><img src="../assets/img/VIEW.png" alt="No images">542</span>
          <span><img src="../assets/img/SPEECH_BUBBLE_2.png" alt="">17</span>
        </div>
        </div>
      </div>

      <div class="col">
        <div class="img">
          <img src="../assets/img/Layer_55.png" alt="No images">
          <span> <b>14</b> Jan</span>
        </div>
        <div class="text">
          <h4>sed do eiusmod tempor</h4>
          <p>Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <hr>
          <div class="view_info">
          <span><img src="../assets/img/VIEW.png" alt="No images">992</span>
          <span><img src="../assets/img/SPEECH_BUBBLE_2.png" alt="">42</span>
        </div>
        </div>
      </div>

      <div class="col">
        <div class="img">
          <img src="../assets/img/Layer_57.png" alt="No images">
          <span> <b>12</b> Jan</span>
        </div>
        <div class="text">
          <h4>incididunt ut labore et dolore</h4>
          <p>Elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <hr>
          <div class="view_info">
          <span><img src="../assets/img/VIEW.png" alt="No images">1560</span>
          <span><img src="../assets/img/SPEECH_BUBBLE_2.png" alt="">98</span>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="map">
  <div class="icon">
    <img src="../assets/img/PIN_2.png" alt="No images">
  </div>
  <h4>Open map</h4>
  <hr class="line">
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>MoGo</h2>
        <p>Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco 
            laboris nisi ut aliquip ex ea commodo consequat. 
          Duis aute irure dolor in reprehenderit in voluptate 
          velit esse cillum dolore eu fugiat nulla pariatur. </p>
          <span><b>15k</b> followers</span>
          <span class="line"></span>
          <div class="socials">
            <span>Follow Us:</span>
            <img src="../assets/img/facebook (1).png" alt="No images">
            <img src="../assets/img/twitter (1).png" alt="No images">
            <img src="../assets/img/instagram (1).png" alt="No images">
            <img src="../assets/img/pinterest (1).png" alt="No images">
            <img src="../assets/img/google_plus.png" alt="No images">
            <img src="../assets/img/youtube.png" alt="No images">
            <img src="../assets/img/dribbble.png" alt="No images">
            <img src="../assets/img/tumblr.png" alt="No images">
          </div>
          <form [formGroup]="form" (ngSubmit)="resuestSubscribe()">
            <input formControlName="email" type="email" placeholder="Your Email...">
            <button [disabled]="form.invalid">Subscribe</button>
          </form>
      </div>
      <div class="col">
        <h4>Blogs</h4>
        <ul>
          <li>
            <div class="img">
              <img src="../assets/img/footer-img1.png" alt="No images">
            </div>
            <div class="text">
              <h5>Lorem ipsum dolor sit amet, 
                consectetur adipiscing</h5>
              <p>Jan 9, 2016</p>
            </div>
          </li>
          <li>
            <div class="img">
              <img src="../assets/img/footer-img2.png" alt="No images">
            </div>
            <div class="text">
              <h5>Consectetur adipiscing elit, 
                sed do eiusmod tempor</h5>
              <p>Jan 9, 2016</p>
            </div>
          </li>
          <li>
            <div class="img">
              <img src="../assets/img/footer-img3.png" alt="No images">
            </div>
            <div class="text">
              <h5>sed do eiusmod tempor 
                incididunt ut labore</h5>
              <p>Jan 9, 2016</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="col">
        <h4>instagram</h4>
        <div class="gallerys">
          <img src="../assets/img/inst-1.png" alt="No images">
          <img src="../assets/img/inst-2.png" alt="No images">
          <img src="../assets/img/inst-3.png" alt="No images">
          <img src="../assets/img/inst-4.png" alt="No images">
          <img src="../assets/img/inst-5.png" alt="No images">
          <img src="../assets/img/inst-6.png" alt="No images">
          <img src="../assets/img/inst-7.png" alt="No images">
          <img src="../assets/img/inst-8.png" alt="No images">
          <img src="../assets/img/inst-9.png" alt="No images">
        </div>
      </div>
    </div>
    <span class="end_line"></span>
      <h6>© 2016 MoGo free PSD template by <span>Laaqiq</span></h6>
  </div>
</footer>